<nav>
	<a href="/"><img class="logo-site" src="{{ asset('images/logo-site-2.png') }}" alt="Typographie d'un S"/></a>

	{% if app.user %}
		<a title="Add a post" id="add_post_btn" href="/post/new">+</a>
	{% endif %}

	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="#tricks-container">Tricks</a>
		</li>
		{% if app.user is null %}
			<li>
				<a href="/login">Sign in
				</a>
			</li>
			<li>
				<a href="/register">Sign up</a>
			</li>
		{% else %}
			<li>
				<a class="red" href="/logout">Logout</a>
			</li>
		{% endif %}
	</ul>
</nav>

<nav id="mobile_nav" style="display:none">

	{% if app.user %}
		<div class="mobile_nav_item_box">
			<a href="/">
				<img src="{{ asset('images/home-icon.png') }}"></img>
		</a>
	</div>
	<div class="mobile_nav_item_box">
		<a id="add_post_btn" class="footer_add_post" href="/post/new">
			+
		</a>
	</div>
	<div class="mobile_nav_item_box">
		<a href="/logout">
			<img src="{{ asset('images/logout-icon.png') }}"></img>
	</a>
</div>{% else %}
<div class="mobile_nav_item_box">
	<a href="/">
		<img src="{{ asset('images/home-icon.png') }}"></img>
</a></div><div class="mobile_nav_item_box">
<a class="red" href="/login">
	<img src="{{ asset('images/logout-icon.png') }}"></img></a></div>{% endif %}</nav><script src="{{asset('js/edit-profile-img.js') }}"></script>
